taskmanager/node_modules/axios/CHANGELOG.md
taskmanager/node_modules/axios/index.d.ts
taskmanager/node_modules/axios/index.js
taskmanager/node_modules/axios/LICENSE
taskmanager/node_modules/axios/package.json
taskmanager/node_modules/axios/README.md
taskmanager/node_modules/axios/SECURITY.md
taskmanager/node_modules/axios/tsconfig.json
taskmanager/node_modules/axios/tslint.json
taskmanager/node_modules/axios/UPGRADE_GUIDE.md
taskmanager/node_modules/axios/dist/axios.js
taskmanager/node_modules/axios/dist/axios.map
taskmanager/node_modules/axios/dist/axios.min.js
taskmanager/node_modules/axios/dist/axios.min.map
taskmanager/node_modules/axios/lib/axios.js
taskmanager/node_modules/axios/lib/defaults.js
taskmanager/node_modules/axios/lib/utils.js
taskmanager/node_modules/axios/lib/adapters/http.js
taskmanager/node_modules/axios/lib/adapters/README.md
taskmanager/node_modules/axios/lib/adapters/xhr.js
taskmanager/node_modules/axios/lib/cancel/Cancel.js
taskmanager/node_modules/axios/lib/cancel/CancelToken.js
taskmanager/node_modules/axios/lib/cancel/isCancel.js
taskmanager/node_modules/axios/lib/core/Axios.js
taskmanager/node_modules/axios/lib/core/buildFullPath.js
taskmanager/node_modules/axios/lib/core/createError.js
taskmanager/node_modules/axios/lib/core/dispatchRequest.js
taskmanager/node_modules/axios/lib/core/enhanceError.js
taskmanager/node_modules/axios/lib/core/InterceptorManager.js
taskmanager/node_modules/axios/lib/core/mergeConfig.js
taskmanager/node_modules/axios/lib/core/README.md
taskmanager/node_modules/axios/lib/core/settle.js
taskmanager/node_modules/axios/lib/core/transformData.js
taskmanager/node_modules/axios/lib/env/data.js
taskmanager/node_modules/axios/lib/env/README.md
taskmanager/node_modules/axios/lib/helpers/bind.js
taskmanager/node_modules/axios/lib/helpers/buildURL.js
taskmanager/node_modules/axios/lib/helpers/combineURLs.js
taskmanager/node_modules/axios/lib/helpers/cookies.js
taskmanager/node_modules/axios/lib/helpers/deprecatedMethod.js
taskmanager/node_modules/axios/lib/helpers/isAbsoluteURL.js
taskmanager/node_modules/axios/lib/helpers/isAxiosError.js
taskmanager/node_modules/axios/lib/helpers/isURLSameOrigin.js
taskmanager/node_modules/axios/lib/helpers/normalizeHeaderName.js
taskmanager/node_modules/axios/lib/helpers/parseHeaders.js
taskmanager/node_modules/axios/lib/helpers/README.md
taskmanager/node_modules/axios/lib/helpers/spread.js
taskmanager/node_modules/axios/lib/helpers/validator.js
